/* font-family: 'Poppins', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    background: #636C79;
}

.classbtn{
    background-color: #636C79;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: none;
    border: 1px solid #77808dce ;
}
.navlinks{
    text-decoration: none;
    color: #fff;
}
.navlinks:hover{
    color: #264348;
}
.green{
   background-color:#264348 ; 
   font-size: 18px;
   cursor: pointer;
}
.green:hover{
 background-color: #fff;
 border: 1px solid #264348;
 color:#264348 ;
}
.green{
    margin-top: 1rem;
}
.navtext{
    list-style: none;
}
.logo{
    font-family: 'Rubik Marker Hatch', cursive;
    font-size: 34px;
    color: #fff;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.listitem{
    display:flex;
    gap: 4rem;
    justify-content: space-between;    
}
@media only screen and (max-width: 980px) {
   .listitem{
    display: none;
   }
}  














/* Hero Section */
input{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    border: none;
    background-color: #fff;
}
.email-icon{
    font-size: 1.8rem;
   text-align: center;
}
.Lets-btn{
    border: none;
    background-color:#264348;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}
.navtext{
    color: #fff;
}
.heroSection{
background: #636C79;
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 4rem;
padding-left: 3rem;
padding-right: 3rem;

 
}
.hero-img{
  width: 80%;
  height: 40%;
   
  }
/* Responsive */
@media only screen and (max-width: 980px) {
.navigations{
    display: none;
}
.heding-right{
    font-size: 69px;
}
.Lets-btn{
    display: none;
}
.left-text{
    padding: 3rem;
}
.heding-right{
    font-size: 2px;
}
.heroSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
}
    
.heding-right{
    font-size: 3.4rem;
    color: #fff;
    font-weight: 500;
}
.right-para{
    color: #fff;
    font-size: 22px;
}
.form{
    display: flex;
    align-items: center;
    padding-top: 1rem;  
}
.email-icon{
    color: #fff;
    font-size:3.4rem;   
}
.email-icon:hover{
    color: #264348;
    cursor: pointer;
}
/* After Hero Section */

.heding-after-hero{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 2.4rem;
    font-weight: 500;

}
.heading-1{
    font-size: 2.4rem;
}
.little-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.para-1{
    color: #606771e9;
}
.littlepart{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
/* mid Images */
.img-mid{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 2rem;
}
.img-in-mid{
   width: 80%;
}
/* Heding After image */
.heading-we{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 500;
}


@media only screen and (max-width: 980px) {

.employ-part-1,.employ-part-2{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.employ-part-2{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
}   
.employ-part-3{
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center; 
    flex-direction: column-reverse;
}  
.employ-img1{
    width: 100%;
}   
}


.employ-part-1,.employ-part-2,.employ-part-3 {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.emp-heading-1,.emp-para{
    padding-top: 1rem;
}
.emp-heading-1{
    font-size: 2.4rem;
    font-weight: 500;  
}
.emp-para{
    font-size: 1.2rem;
    color: #606771e9;
}

.btn-employ{
    border: none;
    background-color: #264348;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;  
}
.btn-emps{
    padding-top: 2rem;
}

/* Team Part Started Here */
@media only screen and (max-width: 980px) {
.heading-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.heding-right{
    font-size: 2.4rem;
}
.right-para{
    font-size: 18px;
}
.left-text{
    padding-bottom: .5rem;
}
}
.heading-team{
display: flex;
align-items: center;
justify-content: space-evenly;
margin-left: 2rem;
margin-right: 2rem;
margin-bottom: 3rem;
margin-top: 3rem;

}
.headingg-1{
    font-size: 2.4rem;
    font-weight: 500;
}
.team-para{
    font-size: 1.2rem;
    color: #606771e9;
}
/* Member Part */
.imgofmember{
     width: 20rem;
    height: 30rem; 
} 
.team-member{
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
.member-1{
margin-bottom: 2rem;
}
.name-1{
    font-weight: 500;
    margin-bottom: 1rem;
}
.semore{
    text-align: center; 
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.seemorebtn{
    border: none;
    background-color: #264348;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}
.foterpart{
   background-color: #264348;
  padding: 2rem;  
}
.upperpart{
    display: flex;  
    align-items: center;
   
    margin-bottom: 10px;
 
 
}
.flogo{
    color: #fff;
    font-weight: 500;
}
.icons{
  
    color: #fff;
    font-size: 1.4rem;
    background-color: #1e3438;
    border-radius: 10rem;
    padding: .4rem;
    cursor: pointer;
}
.icons:hover{
    background-color: #264348   ;
}
.list-text{
    color: #fff;
    color: #babfc6;
    line-height: 2rem;
    font-size: 1rem;
}
.text-1{
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}
.footerslist{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
.listfoter{
    margin-top: 2rem;
}
.list-text{
    list-style: none;
   
}
.border{
    border-top: 1px solid #fff;
   
}




/* Responsive works */
